.h1 {
    left: 0;
    padding: 30px;
    font-size: 100px;
    line-height: 200px;
    position: absolute;
    top: 30%;
    margin-top: -100px;
    text-align: center;
    width: 100%;
}

.h2 {
    text-align: center;
    padding: 20px;
    font-size: 60px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    width: 100%;
}

.body1 {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-size: 30px;
    position: absolute;
    top: 75%;
    margin-top: -100px;
    width: 100%;
}

.body2 {
    text-align: right;
    padding: 10px;
}

.body3 {
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 80%;
    margin-top: -100px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(8, 100px);
    gap: 1px;
    padding: 15px;
    align-content: center;
}

.grid-container > div {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    font-size: 15px;
    align-content: center;
}

.grid-container > div:hover {
    background: rgba(145, 206, 241, 0.8);
    border: 5px solid rgb(79, 170, 255);
    text-align: center;
    align-items: center;
    font-size: 15px;
    align-content: center;
}

.selectedIDs {
    border: 5px solid black;
    text-align: center;
    padding: 3px;
    position: absolute;
}
.grid-item.unused {
    background-color: #ffffff;
    border: 1px solid black;
}

/* Active spaces with default white background */
.grid-item.active {
    background-color: white;
}

/* Hover effect for grid items */
.grid-container > div:hover {
    background: rgba(12, 230, 102, 0.8);
    border: 5px solid rgb(12, 230, 102);
    text-align: center;
    align-items: center;
    font-size: 15px;
    align-content: center;
}
.grid-item.black {
    background-color: black;
    border: none; 
    color: white;
}

.comment-box {
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    width: 300px; 
}

.comment-box textarea {
    width: 100%; 
    height: 80px; 
    resize: none; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 5px; 
    font-size: 14px; 
    box-sizing: border-box; 
}


.comment-box button {
    margin-top: 10px; 
    width: 100%; 
    background-color: #007bff;
    color: white;
    border: none; 
    padding: 8px;
    border-radius: 4px; 
    cursor: pointer;
}

.comment-box button:hover {
    background-color: #0056b3; 
}

#comment-feedback {
    margin-top: 10px; 
    color: green; 
    display: none; 
    font-size: 14px; 
}
