.h1 {
    left: 0;
    padding: 30px;
    font-size: 100px;
    line-height: 200px;
    position: absolute;
    top: 30%;
    margin-top: -100px;
    text-align: center;
    width: 100%;
}

.h2 {
    text-align: center;
    padding: 20px;
    font-size: 60px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    width: 100%;
}

.body1 {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-size: 30px;
    position: absolute;
    top: 75%;
    margin-top: -100px;
    width: 100%;
}

.body2 {
    text-align: right;
    padding: 10px;
}

.body3 {
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 80%;
    margin-top: -100px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(8, 100px);
    gap: 1px;
    padding: 15px;
    align-content: center;
}

.grid-container > div {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    font-size: 15px;
    align-content: center;
}

.grid-container > div:hover {
    background: rgba(145, 206, 241, 0.8);
    border: 5px solid rgb(79, 170, 255);
    text-align: center;
    align-items: center;
    font-size: 15px;
    align-content: center;
}

.selectedIDs {
    border: 5px solid black;
    text-align: center;
    padding: 3px;
    position: absolute;
}
