venv
environments\my_env\ShipCase1 (1).txt
environments\my_env\__pycache__
environments/my_env/__pycache__/grid.cpython-312.pyc
environments\my_env\__pycache__\app.cpython-312.pyc
environments\my_env\logfile.log
environments\my_env\__pycache__
environments\my_env\bin