<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSE: Transfer-ComingOff</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <title>Tile Shipping Express</title>
    <h1 style="text-align: center;">Coming Off</h1>
    <p style="text-align: center;">Which containers do you want to to unload?</p>
    <div class="grid-container">
        {% if ship %}
            {% for container in ship %}
            <div id="{{ container.id }}_{{ container.name }}" onclick=changeBackgroundColor(id)>
                {% if container.name != "NAN" %}
                <script>
                    document.getElementById("{{ container.id }}_{{ container.name }}").style.background = "white";
                </script>
                {%if container.name != "UNUSED"%}
                <p>{{ container.name }}</p>
                <p>{{ container.weight }}</p>
                {% endif %}
                {% else %}
                <script>
                    document.getElementById("{{ container.id }}_{{ container.name }}").style.background = "black";
                </script>
                {% endif %}
            </div>
    
            {% endfor %}
        {% else %}
            <p>No containers available to display.</p>
        {% endif %}
    </div>
    

    <div style="text-align: center;">
        <button type="button" onclick=changeShipArray()>Submit Changes</button>
    </div>

    <div style="text-align: right;">
        <a href="/Transfer-loading">
            <button type="button">Continue</button>
        </a>
    </div>

    <div class = "selectedIDs" id = "arrayContainer"></div>
    
    <div class="comment-box">
        <form action="{{ url_for('log_comment') }}" method="post">
            <label for="comment">Add Comment:</label>
            <textarea id="comment" name="comment" rows="4" placeholder="Write your comment here"></textarea>
            <button type="button" id="submit-comment" onclick=handleCommentInput()>Submit</button>
        </form>
        <div id="comment-feedback" style="color: green; display: none;">Comment logged successfully!</div>
    </div>
        
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>

</html>