<!DOCTYPE html>
<html>
    <head>
        <body>
            <title>Tile Shipping Express</title>
                <h1 style="text-align: center;">Coming On</h1>
                <p style="text-align: center;">How many containers do you want coming on?</p>
                <div
                    style="text-align: center;"><input type = "input">
                    <a href="destination.html">
                        <button type="button">Enter</button>
                    </a>
                </div>
        </body>
    </head>
</html>