<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-widthm initial-scale=1">
<meta name="description" content="Dashboard">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

<head>
    <title>Tile Shipping Express</title>
</head>

<body>
    <div class="h1">Tile Shipping Express</div>
    <div class="h2">
        Welcome, {{ name }}
    </div> <!--Change name as variable set by login page.-->
    <!--Selection Screen-->
    <div class="body1">
        <form action="{{ url_for('checkAction') }}" method="post">
            <label for="action">Select a Service:</label>
            <select name="TypeAction" id="TypeAction">
                <option value="Transfer">Transfer</option>
                <option value="Balance">Balance</option>
            </select>
            <button type="submit"> Continue </button>
        </form>
    </div>

    <div class="body2">
        <a href="{{ url_for('Login') }}">
            <button type="button">Log Out</button>
        </a>
    </div>

    <div class="log-button-container">
        <a href="{{ url_for('view_log') }}" class="view-log-link">
            <button class="view-log-button">View Log</button>
        </a>
    </div>
    
</body>

</html>