<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/Err.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>
        Error
    </h1>
    <div class="center">
        <div class="Msg">
            <p class="ErrMsg">
                Display Error message here
            </p>
        </div>
        
    </div>

    <div class="center">
        <div class="back">
            <button type="button" class="backButton">Go Back</button>
        </div>
    </div>
</body>

</html>