<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/Succ.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h1>
        Success
    </h1>
    <div class="center">
        <div class="Msg">
            <p class="SuccMsg">
                Return to Dashboard.
            </p>
        </div>
        
    </div>

    <div class="center">
        <div class="back">
            <a href="{{ url_for('Dashboard') }}">
            <button type="button" class="backButton">Continue</button>
        </div>
    </div>
    
</body>
</html>