<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSE: Transfer Process</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1 class="page-title">Transfer Process</h1>
    <p class="operation-status">Operation {{ current_operation }} of {{ total_operations }}</p>
    <div class="grid-container">
        {% for container in ship %}
        <div id="{{ container.id }}_{{ container.name }}" 
            class="grid-item {% if container.name == 'NAN' %}black{% elif container.name == 'UNUSED' %}unused{% else %}active{% endif %}">
            {% if container.name != 'UNUSED' and container.name != 'NAN' %}
                <p class="container-name">{{ container.name }}</p>
                <p class="container-weight">{{ container.weight }}</p>
            {% endif %}
            {% if container.action == "start" %}
            <script>
                document.getElementById("{{ container.id }}_{{ container.name }}").style.background = "rgba(12, 230, 102, 0.5)";
                document.getElementById("{{ container.id }}_{{ container.name }}").style.border = "rgba(12, 230, 102, 1)";
            </script>
            {% endif %}

            {% if container.action == "middle" %}
            <script>
                document.getElementById("{{ container.id }}_{{ container.name }}").style.background = "rgba(12, 230, 102, 0.5)";
                document.getElementById("{{ container.id }}_{{ container.name }}").style.border = "rgba(12, 230, 102, 1)";
            </script>
            {% endif %}

            {% if container.action == "end" %}
            <script>
                document.getElementById("{{ container.id }}_{{ container.name }}").style.background = "rgba(12, 230, 102, 0.5)";
                document.getElementById("{{ container.id }}_{{ container.name }}").style.border = "rgba(12, 230, 102, 1)";
            </script>
            {% endif %}

        </div>
        {% endfor %}
    </div>

    {% if action == "On" and prevAction != "On" and current_operation <= total_operations and numLoad > 0 %}
    <div class="form-container">
        <form action="{{ url_for('transfer_process_init', current=current_operation, moveTo='On') }}" method="post">
            <label for="container-name">Container Name:</label>
            <input type="text" id="container-name" name="container_name" required>
            <label for="container-weight">Container Weight:</label>
            <input type="text" id="container-weight" name="container_weight" required>
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
    {% endif %}

    {% if action == "Off" or numLoad == 0 %}
    <div style="text-align: right;">
        <button type="button" onclick="window.location.href='{{ url_for('transfer_process_init', current=current_operation, moveTo='Off') }}'">Continue</button>
    </div>
    {% endif %}

    <div class="comment-box">
        <form action="{{ url_for('log_comment') }}" method="post">
            <label for="comment">Add Comment:</label>
            <textarea id="comment" name="comment" rows="4" placeholder="Write your comment here"></textarea>
            <button type="button" id="submit-comment" onclick=handleCommentInput()>Submit</button>
        </form>
        <div id="comment-feedback" style="color: green; display: none;">Comment logged successfully!</div>
    </div>
        
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    
</body>
    
</html>